<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Webs      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar class="header-toolbar">
      <ion-title size="large" class="header-title">Webs</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <div class="section">
    <h1 class="section-title camara-title">Cámara</h1>
    <div class="iframe-container">
      <iframe src="http://your-ip-address" class="iframe"></iframe>
      <ion-button expand="block" class="button" (click)="navigateToIPAddress()">Go to IP Address</ion-button>
    </div>
  </div>
  
  <div class="section">
    <h1 class="section-title brazo-title">Brazo Robótico</h1>
    <div class="iframe-container">
      <iframe src="http://your-ip-address" class="iframe"></iframe>
      <ion-button expand="block" class="button" (click)="navigateToIPAddress1()">Go to IP Address</ion-button>
    </div>
  </div>
</ion-content>


