<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Data Rover/Cansat
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-img src="assets/presentacion.jpg" class="presentation-image"></ion-img>
    <div class="card-wrapper">
      <ion-card class="data-card">
        <ion-card-header>
          <ion-card-title>Rover Data</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p class="data-item">BMPAltura: {{ dataRover?.BMPAltura }}</p>
          <p class="data-item">BMPPresion: {{ dataRover?.BMPPresion }}</p>
          <p class="data-item">BMPTemperatura: {{ dataRover?.BMPTemperatura }}</p>
          <p class="data-item">GPS: {{ dataRover?.GPS }}</p>
          <p class="data-item">Hall: {{ dataRover?.Hall }}</p>
          <p class="data-item">Humedad: {{ dataRover?.Humedad }}</p>
          <p class="data-item">Temperatura: {{ dataRover?.Temperatura }}</p>
          <p class="data-item">UV: {{ dataRover?.UV }}</p>
        </ion-card-content>
      </ion-card>

      <ion-card class="data-card">
        <ion-card-header>
          <ion-card-title>Cansat Data</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p class="data-item">BMPAltura: {{ dataCansat?.BMPAltura }}</p>
          <p class="data-item">BMPPresion: {{ dataCansat?.BMPPresion }}</p>
          <p class="data-item">BMPTemperatura: {{ dataCansat?.BMPTemperatura }}</p>
          <p class="data-item">GPS: {{ dataCansat?.GPS }}</p>
          <p class="data-item">Hall: {{ dataCansat?.Hall }}</p>
          <p class="data-item">Humedad: {{ dataCansat?.Humedad }}</p>
          <p class="data-item">Temperatura: {{ dataCansat?.Temperatura }}</p>
          <p class="data-item">UV: {{ dataCansat?.UV }}</p>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>

<ion-header collapse="condense">
  <ion-toolbar>
    <ion-title size="large">Data Rover/Cansat
    </ion-title>
  </ion-toolbar>
</ion-header>

